<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
</head>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="style.css">
    <title>About Us</title>
</head>

<body>

    <section class="about">
        <h1 style="text-align:center">About Us</h1>
        <div class="about-info">
            <div class="about-img">
            </div>
            <div>


                <p class="aboutusparagraph">
                    At FragranceFusion, we pride ourselves on being a premier destination for connoisseurs of fine fragrances.
                    With a passion for luxury and an unwavering commitment to quality,
                    we curate a handpicked selection of the world's most exquisite perfumes and colognes.
                </p>

            </div>
        </div>
    </section>

    <section class="team">
        <h1 style="text-align:center">Meet Our Team</h1>
        <div class="team-cards">

            <!-- Cards here -->
            <!-- Card 1 -->

            <div class="card">
                <div class="card-img">
                    <img src="~/img/ivo.jpg" alt="User 1">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Ivo</h2>
                    <p class="card-role">Backend Developer</p>
                    <p class="card-email">Ivailo Denchev</p>
                    
                </div>
            </div>

            <!-- Card 2 -->

            <div class="card">
                <div class="card-img">
                    <img src="~/img/misho.jpg" alt="User 2">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Misho</h2>
                    <p class="card-role">Backend Developer</p>
                    <p class="card-email">Mihail Nedelchev</p>
                   
                </div>
            </div>

            <!-- Card 3 -->

            <div class="card">
                <div class="card-img">
                    <img src="~/img/tedo.jpg" alt="User 3">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Tedo</h2>
                    <p class="card-role">Frontend developer & designer</p>
                    <p class="card-email">Teodor Mirchev</p>
                   
                </div>
            </div>
        </div>
    </section>


</body>

</html>


